<!--Главная страница-->
{% extends 'bazaznaniy/layout.html' %}
{% load static %}

{% block title %}
    База знаний МГКЭИТ
{% endblock %}


{% block info %}
<p class="hi">Привет, это База знаний для студентов колледжа с добрым сердцем - МГКЭИТ<br>
</br>Тут ты сможешь найти конспекты по интересующей тебя теме и пройти небольшой закрепляющий тест</p>
{% endblock %}
                                
{% block content %}
<div class="mainpage">
    <h1>База знаний МГКЭИТ</h1>
    <img src="{% static 'bazaznaniy/img/robot.png' %}" alt="robot"/>
    <span class="logo"></span>
</div>
{% endblock %}

{% block select %}
<button onclick="window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'})" class="btndown">
    <img src="{% static 'bazaznaniy/img/arrow.png' %}" alt="robot" /> 
    Выбрать тему 
    <img src="{% static 'bazaznaniy/img/arrow.png' %}" alt="robot" />
</button>

<div class="select-container">
    <div class="sector-buttons">
        {% if sectors %}
            {% for sector in sectors %}
            <a href="{% url 'sector_detail' sector.slug %}" class="sector-button">{{ sector.name }}</a>
            {% endfor %}
        {% else %}
        <p>Пока нет доступных отраслей.</p>
        {% endif %}
    </div>
    <p class="title-select">Всё великое начинается с любопытства. Это тот внутренний импульс, который заставляет нас искать, исследовать и открывать новое. Каждый шаг вперёд — результат желания узнать больше и понять, как устроен мир. Начни с малого, выбери свою тему, и ты обязательно откроешь что-то важное. Любопытство — это ключ к росту и развитию.
</p>
</div>
{% endblock %}