{% extends 'bazaznaniy/layout.html' %}
{% load static %}

{% block title %}
    {{ lang }} - База знаний МГКЭИТ
{% endblock %}

{% block content %}
<div class="line"></div>
<div class="line1"></div>
<div class="lang-detail">
    <h1>{{ lang }}</h1>
    <p class="linklink">полезные советы</p>
    
    <p class="course-label">КУРС</p>
    
    {% if lang.topics.all %}
    <div class="topic-buttons">
        {% for topic in lang.topics.all %}
            <a href="{% url 'topic_detail' sector_slug=lang.sector.slug lang_slug=lang.slug topic_slug=topic.slug %}" class="topic-button">
                <div class="topic-text">
                    <span class="topic-name">{{ topic.name }}</span>
                    <p class="topic-info">zxc</p>
                </div>
            </a>
        {% endfor %}
    </div>
    {% else %}
    <p>Пока нет тем для этого языка программирования.</p>
    {% endif %}
</div>
{% endblock %}