{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}База знаний МГКЭИТ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bazaznaniy/css/style.css' %}">
</head>
<body>
    <header class="header">
        <a href="{% url 'home' %}"><img src="{% static 'bazaznaniy/img/logo_full.svg' %}" alt="logo"></a>
        <a href="{% url 'profile' %}" class="profile-button"><img src="{% static 'bazaznaniy/img/lc.png' %}" alt="robot" />Личный кабинет</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
        {% block info %}
        {% endblock %}
        {% block select %}
        {% endblock %}
    </main>
        <script src="script.js"></script>
</body>
</html>