{% extends 'bazaznaniy/layout.html' %}
{% load static %}

{% block title %}
    {{ sector.name }} - База знаний МГКЭИТ
{% endblock %}

{% block content %}
<h1 class="contenttitleh1">{{ sector.name }}</h1>
    {% if sector.languages.all %}
    <div class="lang-buttons">
        {% for lang in sector.languages.all %}
        <a href="{% url 'lang_detail' sector_slug=sector.slug lang_slug=lang.slug %}" class="lang-button">
            <div class="lang-content">
                <div class="lang-text">
                    <span class="lang-name">{{ lang.name }}</span>
                    <p class="lang-description">мяу мяу мяу мяу мяяяяяяяяяяяяяяяяяяяяяяяяу мяу мяу мяу мяяяяяяяяяяяяяяяу мяу мяу мяяяяяяяяяяяяяу мяу гаф гаф гаааааааааааааааааааф гаф гаф гаааааааааааааааааф гаф гаф гааааааааааф гаф гаф гаффффффффф гаф мяу мяу мяу мяяяяяяяяяяяяяяяяяяяяяяяяу мяу мяу мяу мяяяяяяяяяяяяяяяу мяу мяу м</p>
                </div>
                <div class="circular-progress" data-progress="75">
                    <div class="progress-value">0%</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>Пока нет языков программирования для этой отрасли.</p>
    {% endif %}
</div>
{% endblock %}