<!--Тема-->
{% extends 'bazaznaniy/layout.html' %}
{% load static %}

{% block title %}
    {{ topic.name }} - База знаний МГКЭИТ
{% endblock %}

{% block content %}
<div class="topic-content">
    <h1>{{ topic.name }}</h1>
    <p>{{ topic.description|default:"Описание отсутствует" }}</p>
    <a href="{% url 'topic_test' sector_slug=topic.lang.sector.slug lang_slug=topic.lang.slug topic_slug=topic.slug %}" class="test-button">Пройти тест</a>
    {% if topic.icon %}
    <p>Иконка: <span class="topic-icon">{{ topic.icon }}</span></p>
    {% endif %}
</div>
{% endblock %}