{% extends 'bazaznaniy/layout.html' %}
{% load static %}

{% block title %}
    {{ topic.name }} - База знаний МГКЭИТ
{% endblock %}

{% block content %}
<div class="content">
    <h1>{{ topic.name }}</h1>
    <p>{{ topic.description|default:"Описание отсутствует" }}</p>
    <p>Язык программирования: <a href="{% url 'lang_detail' sector_slug=topic.lang.sector.slug lang_slug=topic.lang.slug %}">{{ topic.lang }}</a></p>
    <p>Отрасль: <a href="{% url 'sector_detail' slug=topic.lang.sector.slug %}">{{ topic.lang.sector.name }}</a></p>
    {% if topic.icon %}
    <p>Иконка: <span class="topic-icon">{{ topic.icon }}</span></p>
    {% endif %}
</div>
{% endblock %}